* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

body {
    background-image: url('./assets/fundo.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    margin: 40px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
}

.gif {
    width: 80px;
    height: 80px;
    display: block;
}

h1 {
    color: rgb(65, 66, 66);
    font-size: 28px;
    font-weight: 700;
}

.main {
    width: 90%;
    max-width: 500px;
    border-radius: 20px;
    padding: 44px 24px 23px;
    margin: 0 auto 40px;
    background-color: rgba(218, 240, 251, 0.8);
    backdrop-filter: blur(10px);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}

label {
    color: rgb(129, 126, 126);
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
}

select,
input {
    border-radius: 4px;
    cursor: pointer;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    padding-left: 18px;
    font-weight: 700;
    font-size: 16px;
    color: rgba(85, 85, 85, 1);
    border: 1px solid #bbbbbb;
    background: #fcfcfc
}

input {
    cursor: text;
}


button {
    width: 100%;
    height: 48px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgb(5, 121, 246);
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.7;
}

button:active {
    opacity: 0.5;
}

.section {
    font-weight: 700;
    border-radius: 20px;
    font-size: 18px;
    margin-top: 36px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(0, 138, 251)
}

.arrow {
    margin: 15px 0;
}

.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

}

.currency {
    font-size: 14px;
    color: rgba(119, 119, 119, 1)
}

.currency-value {
    font-weight: 700;
    font-size: 20px;
    color: rgba(85, 85, 85, 1)
}

/* Isso seleciona todas as imagens (img) que estão DENTRO da caixa (.currency-box) */
.currency-box img {
    width: 40px;
    /* Define uma largura fixa */
    height: 40px;
    /* Define uma altura fixa para formar um quadrado */
    object-fit: contain;
    /* MÁGICA: Isso impede que a imagem fique "achatada" ou distorcida se ela não for perfeitamente quadrada */
}

.arrow{
    width: 40px;
}